body {
    background-color: #fffaf3;
}

.jumbotron {
    background-color: #eee;
}

form {
    max-width: 35rem !important;
}

form button {
    display: block !important;
    margin: 0 auto !important;
}

li {
    list-style-type: none;
}
